In [12]:
#치포틀레 데이터셋의 기초 정보 출력하기#
import pandas as pd
file_path='./data/chipotle.tsv'
#read()함수로 데이터를 데이터 프레임 형태로 불러줍니다
chipo=pd.read_csv(file_path,sep='\t')
print(chipo.shape)#shape()는 데이터의 행과 열의 크기를 반환
print("----------------")
print(chipo.info())#info()는 행의 구성 정보와 열의 구성 정보를 나타냅니다

#치포틀레 데이터셋의 행과 열,데이터 확인하기
chipo.head(5)
print(chipo.columns)
print("-----------")
print(chipo.index)

(4622, 5)
----------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None
Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
-----------
RangeIndex(start=0, stop=4622, step=1)

In [19]:
#치포틀레 데이터셋의 행과 열,데이터 확인하기#
chipo.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75

In [20]:
print(chipo.columns)
print("============")
print(chipo.index)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')
============
RangeIndex(start=0, stop=4622, step=1)

In [21]:
#describe()함수로 기초 통계량 출력하기
#order_id 는 숫자로서 의미를 가지지 않기 때문에 str으로 변환 한다
chipo['order_id']=chipo['order_id'].astype(str)
print(chipo.describe())
#평균 아이템 주문 수량이 1.07 이라는 것을 알 수 있음

          quantity
count  4622.000000
mean      1.075725
std       0.410186
min       1.000000
25%       1.000000
50%       1.000000
75%       1.000000
max      15.000000

In [22]:
#order_id 와 item_name 의 피쳐는 범주형 피쳐이기 때문에 unique() 함수를 사용합니다
#피처내에 범주가 몇개나 있는지 알아냄 
print(len(chipo['order_id'].unique()))
print(len(chipo['item_name'].unique()))

1834
50

In [23]:
#가장 많이 주문한 아이템 top10
item_count=chipo['item_name'].value_counts()[:10]
for idx,(val,cnt) in enumerate(item_count.iteritems(),1):
    print("TOP",idx,":",val,cnt)

TOP 1 : Chicken Bowl 726
TOP 2 : Chicken Burrito 553
TOP 3 : Chips and Guacamole 479
TOP 4 : Steak Burrito 368
TOP 5 : Canned Soft Drink 301
TOP 6 : Steak Bowl 211
TOP 7 : Chips 211
TOP 8 : Bottled Water 162
TOP 9 : Chicken Soft Tacos 115
TOP 10 : Chips and Fresh Tomato Salsa 110

In [25]:
#아이템별 주문 개수를 출력합니다
order_count=chipo.groupby('item_name')['order_id'].count()
order_count[:10]

item_name
6 Pack Soft Drink         54
Barbacoa Bowl             66
Barbacoa Burrito          91
Barbacoa Crispy Tacos     11
Barbacoa Salad Bowl       10
Barbacoa Soft Tacos       25
Bottled Water            162
Bowl                       2
Burrito                    6
Canned Soda              104
Name: order_id, dtype: int64